<div class="text-center"> <%= cl_image_tag @user.photo, :radius=>"max", :width=>150, :height=>150, :crop=>:thumb, :gravity=>:face, :background=>"#edefed" %>
<h3>Welcome home <%= @user.first_name %></h3>
 </div>
<br>
<%= link_to "Edit your profile", edit_user_path(@user) %> <br>
<%= link_to "Create my announcement", new_user_caravan_path(@user) %> <br>
<%= link_to "Show my announcement", user_own_caravans_path(@user) %>
