<div class="container padded">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <%= simple_form_for [@user, @caravan] do |f| %>
          <%= f.input :title %>
          <%= f.input :description, as: :text %>
          <%= f.input :capacity %>
          <%= f.input :price %>
          <%= f.input :street %>
          <%= f.input :city %>
          <%= f.input :zip_code %>
          <%= f.input :country, as: :country %>
          <%= f.input :tv %>
          <%= f.input :shower %>
          <%= f.input :coffee_machine %>
          <%= f.input :kitchen %>
          <%= f.input :wifi %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, "Add your caravan", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>









