<div class="card">
<%= cl_image_tag caravan.photo, :height=>222, :crop=>:thumb, class: "card-image" %>
  <div class="card-price inline"><%= caravan.price.to_s + "€" %></div>
  <div class="card-description">
    <h3><%= caravan.title %></h3>
    <p><%= caravan.city %></p>
  </div>
  <%= cl_image_tag caravan.user.photo, :radius=>"max", :width=>50, :height=>50, :crop=>:thumb, :gravity=>:face, class: "card-user avatar-large" %>
  <%= link_to caravan.title, caravan_path(caravan), class: "card-link" %>
</div>
