<div class="card">
  <%= image_tag("http://placehold.it/300x300", class: "card-image") %>
  <div class="card-price inline"><%= caravan.price.to_s + "€" %></div>
  <div class="card-description">
    <h2><%= caravan.title %></h2>
    <p><%= caravan.city %></p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <%= link_to caravan_path(caravan), class: "card-link" %>
</div>
