<div class="caravan-banner" style="background: url('<%= @caravan.photo %>');">
    <div class="caravan-rent">
      <%= link_to "Rent it", new_caravan_rental_path(@caravan), class: "btn btn-danger" %>
    </div>
    <div class="caravan-banner-content">
      <h3><%= @caravan.title  %> <span class="label label-default"><%= @caravan.price %> €</span></h3>
    </div>
</div>

<div class="container padded">
  <div class="panel panel-primary">
    <div class="panel-heading">About the caravan</div>
    <div class="panel-body">
      <%= @caravan.description %>
      <%= @caravan.capacity %>
    </div>
  </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Caravan equipment</div>
      <div class="panel-body">
        <% if @caravan.tv %>
          <i class="fa fa-television">   TV included</i>
        <% end %>
        <% if @caravan.wifi %>
          <i class="fa fa-wifi">   Wifi included</i>
        <% end %>
        <% if @caravan.shower %>
          <i class="fa fa-cloud">   Shower included</i>
        <% end %>
        <% if @caravan.coffee_machine %>
          <i class="fa fa-coffee">   Coffee machine included</i>
        <% end %>
        <% if @caravan.kitchen %>
          <i class="fa fa-spoon">   Kitchen included</i>
        <% end %>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Caravan location</div>
      <div class="panel-body">
        <%= @caravan.street %>
        <%= @caravan.city %>
        <%= @caravan.zip_code %>
        <%= @caravan.country %>
      </div>
    </div>
</div>




