<div class="caravan-banner" style="background: url('<%= @caravan.photo %>');">
  <div class="caravan-rent">

    <button data-toggle="modal" data-target="#new-rental" class="btn btn-danger">Book it</button>
  </div>
  <div class="caravan-banner-content">
    <h3><%= @caravan.title  %> <span class="label label-default"><%= @caravan.price %> €</span></h3>
  </div>
</div>

<div class="container padded">
  <div class="panel panel-primary">
    <div class="panel-heading">About the caravan</div>
    <div class="panel-body">
      <%= @caravan.description %>
      <%= @caravan.capacity %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Caravan equipment</div>
    <div class="panel-body">
    <div class="list-equipment">
      <ul class="list-inline">
       <li> <% if @caravan.tv %>
        <i class="fa fa-television">   TV included</i>
        <% end %>
      </li>
      <li>
        <% if @caravan.wifi %>
        <i class="fa fa-wifi">   Wifi included</i>
        <% end %>
       </li>
       <li>
        <% if @caravan.shower %>
        <i class="fa fa-cloud">   Shower included</i>
        <% end %>
       </li>
       <li>
        <% if @caravan.coffee_machine %>
        <i class="fa fa-coffee">   Coffee machine included</i>
        <% end %>
       </li>
       <li>
        <% if @caravan.kitchen %>
        <i class="fa fa-spoon">   Kitchen included</i>
        <% end %>
       </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Caravan location</div>
    <div class="container" style="margin: 5px 0;">
      <div class="row">
       <div class="col-sm-5">
        <div class="panel-body">
          <%= @caravan.street %>
          <%= @caravan.city %>
          <%= @caravan.zip_code %>
          <%= @caravan.country %>
        </div>
      </div>
      <div class="col-sm-7">
       <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=550x300&sensor=false&maptype=roadmap&markers=color:red|#{@caravan.address}" %>
     </div>
   </div>
 </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="new-rental">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #53443F">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="color: #FFF">Submit your booking request</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <%= render "rentals/new", caravan: @caravan, rental: @rental %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


