<div class="container">
  <h2>Your bookings</h2>
  <% if @rentals == [] %>
    <p>You haven't made any bookings yet<p>
  <% else %>
    <div class="row">
      <% @rentals.each do |rental| %>
        <div class="col-sm-4">
          <div class="booking-card">
            <div class="booking-card-header">
              <h3><%= link_to rental.caravan.title, caravan_path(rental.caravan) %></h3>
            </div>
            <div class="booking-card-content">
              <p><strong>Booking made by: </strong><%= "#{rental.user.first_name} #{rental.user.last_name}" %></p>
              <p><strong>From: </strong><%= "#{rental.start_date}" %></p>
              <p><strong>To: </strong><%= "#{rental.end_date}" %></p>
              <p><strong>Overall price: </strong><%= "#{rental.price}€" %></p>
              <%= link_to "Cancel my reservation", rental_path(rental), method: :delete, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container">
  <h2>Bookings placed on my caravans</h2>
    <% current_user.caravans.each do |caravan| %>
      <% if caravan.rentals == [] %>
      <% else %>
        <div class="row">
          <% caravan.rentals.each do |rental| %>
            <div class="col-sm-4">
              <div class="booking-card">
                <div class="booking-card-header">
                  <h3><%= link_to rental.caravan.title, caravan_path(rental.caravan) %></h3>
                </div>
                <div class="booking-card-content">
                  <p><strong>Booking made by: </strong><%= "#{rental.user.first_name} #{rental.user.last_name}" %></p>
                  <p><strong>From: </strong><%= "#{rental.start_date}" %></p>
                  <p><strong>To: </strong><%= "#{rental.end_date}" %></p>
                  <p><strong>Overall price: </strong><%= "#{rental.price}€" %></p>
                </div>
              </div>
            </div>
        <% end %>
        </div>
      <% end %>
    <% end %>
</div>


