<div class="banner" style="background: linear-gradient(-225deg, rgba(75,108,183,0.6) 0%, rgba(24,40,72,0.5) 50%), url('header.jpg');">
    <%= render 'shared/navbar_home' %>
    <div class="banner-content">
      <h1>Man versus Caravan</h1>
      <p>Rent the wildest caravans to live your life's one true adventure</p>
      <a href="#search-form" class="banner-arrow floating"><i class="fa fa-angle-double-down"></i></a>
    </div>
</div>

<div class="wrapper padded">
  <div class="text-center" id="search-form">
    <h2><strong>Find a caravan</strong></h2>
      <%= render 'shared/search_form' %>
  </div>
<div class="wrapper darker-grey padded">
  <% if @sample_caravans.count >= 1 %>
    <div class="text-center">
      <h2><strong>Meet some of our caravans</strong></h2>
      <div class="container">
        <div class="row">
          <% @sample_caravans.each do |caravan| %>
            <div class="col-xs-12 col-sm-4">
              <%= render 'shared/caravan_cards', caravan: caravan %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="wrapper padded">
  <div class="text-center">
    <h3><strong>Here's why people love us</strong></h3>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="testimonial">
              <%= cl_image_tag("hippie_n1lxjq.jpg", :width=>100, :height=>100, :crop=>:fill, :gravity=>:face, :effect=>"auto_color", class:"img-circle") %>
              <div class="testimonial-description">
                <blockquote>
                  <p>Summer of love... for real</p>
                  <footer>Bob T.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="testimonial">
              <%= cl_image_tag("indiana_jones_f5vyy8.jpg", :width=>100, :height=>100, :crop=>:fill, :gravity=>:face, :effect=>"auto_color", class:"img-circle") %>
              <div class="testimonial-description">
                <blockquote>
                  <p>Trust me, best stay of all my life</p>
                  <footer>Indiana J.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="testimonial">
             <%= cl_image_tag("denis_b_qbrsxa.jpg", :width=>100, :height=>100, :crop=>:fill, :gravity=>:face, :effect=>"auto_color", class:"img-circle") %>
              <div class="testimonial-description">
                <blockquote>
                  <p>Man vs Caravan changed my life</p>
                  <footer>Denis B.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="testimonial">
             <%= cl_image_tag("bear_grylls_emyrwb.jpg", :width=>100, :height=>100, :crop=>:fill, :gravity=>:face, :effect=>"auto_color", class:"img-circle") %>
              <div class="testimonial-description">
                <blockquote>
                  <p>Nothing equals a caravan vacation</p>
                  <footer>Bear G.</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

